option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "assman_app/assman/assman.settings"
    "PYTHONPATH": "/opt/python/current/app/assman:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "assman_app/assman/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"