{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h2>Rho Gamma Asset Manager v1.0</h2>
	<hr>
	Written with love by Torin Vermette for Brho Gamma so they can finally <i>get their ish together.</i>
	<br><br>
	<a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>
	<a href="http://www.heroku.com/"><img src="https://brand.heroku.com/static/media/built-on-heroku-dark.ef2aa337.svg" border="0" height="60" alt="Built on Heroku" title="Built on Heroku" /></a>
	<a href="https://github.com/torinv/assman"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" border="0" height="60" alt="GitHub" title="GitHub" /></a>
{% endblock %}