{% load static %}

<html lang="en">
<head>
    <title>Error</title>
    <link rel="icon" href={% static 'rho_gamma_logo.jpg' %}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'key_list' %}">
    <img src="{% static  'rho_gamma_logo.jpg' %}" width="30" height="30" alt="">
    <b>Rho Gamma</b>
    <i>Asset Manager</i>
  </a>
</nav>

{% block errorcontent %}{% endblock %}